{% extends "base.html" %}
{% block title %}Portfolio de Nahuel Mangano{% endblock %}
{% block content %}
<div class="container">
    <h1>Hola, soy Nahuel Mangano</h1>
    <p>Soy desarrollador de software y este es mi portfolio.</p>

    <h2>Proyectos</h2>
    <ul class="projects-list">
       
           <li>
                <a href="{{ url_for('tienda.tienda') }}">Tienda</a>
            
        
        </li>
        </li>
           <li>
                <a href="{{ url_for('auth.login') }}">LOG IN BO!</a>
            
        
        </li>
      
    </ul>

    <h2>Contacto</h2>
    <p>Email: <a href="mailto:mangano.nahuel@gmail.com">mangano.nahuel@gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/nahuel-mangano-vargas/" target="_blank" rel="noopener noreferrer">Nahuel Mangano</a></p>
    <a href="https://github.com/nahuelmangano">GitHub Nahuel</a>
</div>
{% endblock %}
